.html {
	width: 100%;
	display: inline-block;
	height: 1700px;
    scroll-behaviour: smooth;
}
.headerMain {
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #1D1E28;
    #background-image: url("recources/headerBG.jpg");
    background-size: 100%;
    display: inline-block;
    color: #ede8e8;
}
.headerLogo {
    margin: 5px;
    width: 80px;

}
.headerTitle {
    position: absolute;
    left: 120px;
    top: 10px;
    text-decoration: underline;
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 60;
    letter-spacing: 4px;
}
.headerSubtitle {
    position: absolute;
    left: 120px;
    top: 75px;
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 25;
    letter-spacing: 4px;
}
.headerButtonPages {
    position: fixed;
    font-family: 'Bebas Neue';
    margin: 0;
    padding: 0;
    top: 100px;
    left: 300px;
}
.headerButtonHome {
    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #0092d2;
    border-width: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 50px;
    font-family: 'Bebas Neue';
    font-size: 30;
    transition-duration: 0.3s;
    position: static;

}




.headerButtonIntro {
    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #0092d2;
    border-width: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 50px;
    font-family: 'Bebas Neue';
    font-size: 30;
    transition-duration: 0.3s;
    position: static;

}
.headerButtonRes {
    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #0092d2;
    border-width: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 50px;
    font-family: 'Bebas Neue';
    font-size: 30;
    transition-duration: 0.3s;
    position: static;

}
.headerButtonProjects {
    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #0092d2;
    border-width: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 50px;
    font-family: 'Bebas Neue';
    font-size: 30;
    transition-duration: 0.3s;
    position: sticky;
}
.headerButtonLearn {
    display: none;

    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #0092d2;
    border-width: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 50px;
    font-family: 'Bebas Neue';
    font-size: 30;
    transition-duration: 0.3s;
    position: sticky;
}
.headerButtonContact {
    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #0092d2;
    border-width: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 50px;
    font-family: 'Bebas Neue';
    font-size: 30;
    transition-duration: 0.3s;
    position: sticky;
}

.headerButtonLogin {
    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #0092d2;
    border-width: 5px;
    border-radius: 6px;
    height: 50px;
    font-family: 'bebas neue';
    font-size: 30;
    transition-duration: 0.3s;
    display: block;
    position: absolute;
    margin-left: 132%;
    margin-top: -120px;

}

.headerButtonHome:hover, .headerButtonLogin:hover, .headerButtonIntro:hover, .headerButtonRes:hover, .headerButtonProjects:hover, .headerButtonLearn:hover, .headerButtonContact:hover {
    border-bottom-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(10, 10, 10, 0.2);


}
.headerButtonActive {
    width: 200px;
    color: #ede8e8;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #e6331c;
    border-width: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px -6px 0px 0px #e6331c;
    font-family: 'Bebas Neue';
    font-size: 30;
    transition-duration: 1s;
}
.mainScrollBody {
    position: relative;
    display: block;
    top: 150px;
    width: 100%;
    background-color: #ede8e8;
    height: 1500px;
}
.aboutMeContainer {
    top: 200px;
    height: 100%;
    background-image: url("recources/contactWallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(200, 200, 200, 1);
}
.aboutMe1 {
    display: block;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100px;
    height: 1300px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: "Bebas Neue";
    border-style: solid;
    border-color: #0092d2;
    border-radius: 4px;
    border-width: 5px;
}
.footerMenu {
    width: 100%;
    height: 250px;
    background-color: #1D1E28;
    position: absolute;
    top: 1500px;
    color: #ede8e8;
}
body {
    margin: 0;
    padding: 0;
}